@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var file in Model.Files)
        {
            <div class="col col-3">
                <img src="@file.Url" class="img-thumbnail" alt="@file.FileName">
            </div>
        }
    </div>
</div>
